
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
}
#root{
    height: 100vh;
}
.link{
    text-decoration: none;
    color: black

}
.bottom-color{
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: #4D0099;
    border: 3px solid #000000;
}
.bottom-elipse{
    position: absolute;
    right: 0;
    bottom: 0;
}

@media screen and (min-width: 1024px){

}
