

.desktop-nav{
    display: none
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid ;
    padding: 35px 12px 12px 12px;
    position: sticky;
    top: 0;
    scroll-margin: 20px;
    scroll-snap-type: y mandatory;
    z-index: 1;
    background-color: #FFFFFF;
}
.nav-title{
    font-family: 'Crafty Girls', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
}
.menu-btn {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.menu-icon,
.menu-icon::after,
.menu-icon::before {
    background-color: black;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    position: absolute; /*position absolute is necessary*/
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.menu-icon:first-child {
    transform: translate(0px, -9px);
}
.menu-icon:last-child {
    transform: translate(0px, 9px);
}
.menu-btn.active .menu-icon:nth-child(2) {
    opacity: 0;
}
.menu-btn.active .menu-icon:first-child {
    transform: translateY(2px) rotate(45deg);
}
.menu-btn.active .menu-icon:last-child {
    transform: translateY(-2px) rotate(-45deg);
}

.mobile-nav{
    padding: 0px 20px 40px 20px;
    position: fixed; /* stays on screen unless a button is clicked */
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    font-size: 1.5rem;
    width: 60%;
    justify-content: space-evenly;
    left: -200%;

    background: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    transition: all 1s;
    transition: 0.5s ease-in-out;
    margin-left: -12px;
}
.mobile-nav.active{
    left: 0;
}


@media screen and (min-width: 1024px){
    .nav{
        border: none
    }
    .menu-btn{
        display: none;
    }
    .desktop-nav{
        display: flex;
        gap: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
}